html { font-size: 10px; }

body { font-size: 1.6rem; font-family: "Lexend", "Noto Sans KR", sans-serif; color: #111111; }

a { text-decoration: none; color: inherit; }

button { background: none; border: none; outline: none; }

.hidden { display: none; }

#header { position: fixed; width: 100%; z-index: 99; background-color: #fff; }

#header #logo { position: absolute; left: 50px; }

#header #logo a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header #gnb .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#header #gnb .list > li:hover > a { color: #1dcb5d; }

#header #gnb .list > li:hover > a:after { -webkit-transform: scaleX(1); transform: scaleX(1); }

#header #gnb .list > li:hover .depth02 { display: -webkit-box; display: -ms-flexbox; display: flex; }

#header #gnb .list > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100px; padding: 0 50px; font-size: 18px; font-weight: 500; position: relative; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#header #gnb .list > li > a:after { content: ""; display: block; position: absolute; left: 50px; right: 50px; height: 3px; background-color: #1dcb5d; top: 65px; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#header #gnb .list > li .depth02 { background-color: #f5f5f5; display: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; width: 100%; left: 0; }

#header #gnb .list > li .depth02 li:hover a { color: #1dcb5d; }

#header #gnb .list > li .depth02 li a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 60px; padding: 0 30px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#header .etc { position: absolute; right: 50px; top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .etc .item:hover button { background-color: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

#header .etc .item:hover ul { display: block; -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

#header .etc button { font-size: 1.6rem; text-transform: uppercase; width: 80px; height: 50px; border-radius: 5px 5px 0 0; background-color: red; -webkit-transition: 0.25s ease; transition: 0.25s ease; cursor: pointer; }

#header .etc .sns li a { display: block; padding: 10px 0 10px 30px; font-size: 1.4rem; position: relative; }

#header .etc .sns li a:before { content: ""; display: block; position: absolute; width: 32px; height: 18px; left: 0; background-image: url(../images/layout/m_utility.png); }

#header .etc .sns li:nth-child(1) a:before { background-position: 0 0; }

#header .etc .sns li:nth-child(2) a:before { background-position: -50px 0; }

#header .etc .sns li:nth-child(3) a:before { background-position: -100px 0; }

#header .etc .sns li:nth-child(4) a:before { background-position: -150px 0; }

#header .etc .sns li:nth-child(5) a:before { background-position: -200px 0; }

#header .etc .language ul { padding: 20px 0; }

#header .etc .language ul li a { padding: 10px 0 10px 30px; }

#header .etc ul { background-color: #fff; display: none; position: absolute; padding: 20px; -webkit-transition: 0.25s ease; transition: 0.25s ease; border-radius: 0 0 5px 5px; }

#header .etc ul li a { display: block; min-width: 80px; }
