.titlebox { line-height: 1.5; }

.titlebox h2 { font-size: 3.6rem; font-weight: 600; margin-bottom: 50px; }

.titlebox p { font-size: 1.8rem; }

#main #mainVisual li { height: 100vh; background-repeat: no-repeat; background-position: 50%; background-size: cover; }

#main #mainVisual li.visual01 { background-image: url(../images/mian/bg1.jpg); }

#main #mainVisual li.visual02 { background-image: url(../images/mian/bg2.jpg); }

#main #mainVisual li.visual03 { background-image: url(../images/mian/bg3.jpg); }

#main #mainVisual .slogan { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; text-align: center; z-index: 2; }

#main #mainVisual .slogan .main { font-size: 6.4rem; font-weight: 700; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

#main #mainVisual .slogan .sub { margin-top: 3rem; font-size: 2rem; }

#main #mainVisual .slogan a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 20px 40px; border: 1px solid #fff; border-radius: 100px; margin-top: 5rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #mainVisual .slogan a:hover { background-color: #fff; color: #111111; }

#main #mainVisual .slogan a span { margin-left: 2rem; }

#main #mainVisual .slogan .pagination { margin-top: 50px; }

#main #mainVisual .slogan .pagination .swiper-pagination-bullet { width: 20px; height: 20px; background: none; border: 2px solid #fff; opacity: 1; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #mainVisual .slogan .pagination .swiper-pagination-bullet-active { background-color: #fff; width: 80px; }

#main #product { overflow: hidden; position: relative; }

#main #product .titlebox { position: absolute; top: 100px; left: 100px; z-index: 2; }

#main #product .list li { position: relative; }

#main #product .list li a { position: absolute; right: 50px; bottom: 50px; padding: 15px 30px; border: 1px solid #111111; border-radius: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: 0.25s ease; transition: 0.25s ease; }

#main #product .list li a span { margin-left: 20px; color: #1dcb5d; }

#main #product .list li a:hover { background-color: #111111; color: #fff; }

#main #product .btns { position: absolute; bottom: 0; left: 0; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #product .btns button { width: 100px; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; }

#main #product .btns button span { font-size: 4.8rem; }
