@import "vars";
@import "mixins";
.titlebox {
  line-height: 1.5;
  h2 {
    font-size: $h2;
    font-weight: 600;
    margin-bottom: 50px;
  }
  p {
    font-size: $medium-size;
  }
}

#main {
  #mainVisual {
    li {
      height: 100vh;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      &.visual01 {
        background-image: url(../images/mian/bg1.jpg);
      }
      &.visual02 {
        background-image: url(../images/mian/bg2.jpg);
      }
      &.visual03 {
        background-image: url(../images/mian/bg3.jpg);
      }
    }
    .slogan {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $white-color;
      text-align: center;
      z-index: 2;
      .main {
        font-size: $xx-large-size;
        font-weight: 700;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
      .sub {
        margin-top: 3rem;
        font-size: $large-size;
      }
      a {
        display: inline-flex;
        padding: 20px 40px;
        border: 1px solid $white-color;
        border-radius: 100px;
        margin-top: 5rem;
        align-items: center;
        transition: 0.25s ease;
        &:hover {
          background-color: $white-color;
          color: $text-color;
        }
        span {
          margin-left: 2rem;
        }
      }
      .pagination {
        margin-top: 50px;
        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          background: none;
          border: 2px solid $white-color;
          opacity: 1;
          border-radius: 100px;
          transition: 0.25s ease;
          &-active {
            background-color: $white-color;
            width: 80px;
          }
        }
      }
    }
  }
  #product {
    overflow: hidden;
    position: relative;
    .titlebox {
      position: absolute;
      top: 100px;
      left: 100px;
      z-index: 2;
    }
    .list {
      li {
        position: relative;
        a {
          position: absolute;
          right: 50px;
          bottom: 50px;
          padding: 15px 30px;
          border: 1px solid $text-color;
          border-radius: 10;
          @include flexCenter();
          transition: 0.25s ease;
          span {
            margin-left: 20px;
            color: $main-color;
          }
          &:hover {
            background-color: $text-color;
            color: $white-color;
          }
        }
      }
    }
    .btns {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      button {
        @include box(100px);
        @include flexCenter();
        background-color: #fff;
        span {
          font-size: $x-large-size;
        }
      }
    }
  }
}
